{% extends 'base.html' %}

{% block title %}Slack App list{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 offset-4 mt-4">
                <div id="app-list-block">
                    <h1 class="d-flex justify-content-center">Registered applications:</h1>
                    <ul class="list-group text-center">
                        {% for app in applications %}
                            <li class="list-group-item">
                                <a href="{% url 'app-detail' app.pk %}">{{ app.name }}</a>

                                {% if perms.slack_integration.delete_slackapplication %}
                                    <form action="{% url 'app-delete' app.pk %}?next={{ request.path }}"
                                          method="post"
                                          style="display: inline;"
                                          onsubmit="return confirm('Are you sure you want to delete &quot;{{ app.name }}&quot; application?')">
                                        {% csrf_token %}
                                        <button type="submit" style="border: none;">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </form>
                                {% endif %}

                            </li>
                        {% empty %}
                            <p class="d-flex justify-content-center" style="color: red;">
                                There are no registered applications yet..
                            </p>
                        {% endfor %}

                        {% if perms.slack_integration.add_slackapplication %}
                            <button class="mt-4"
                                    onclick="location.href='{% url 'app-registration' %}?next={{ request.path }}'">
                                Add new application
                            </button>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}