{% extends 'base.html' %}

{% block title %}Actions block create{% endblock %}

{% block content %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-4 offset-4 mt-4">
                <div class="form-group">
                    <label>Template name</label>
                    <div>
                        <input class="form-control" type="text" disabled value="{{ template.name }}">
                    </div>
                </div>
                <div class="form-group">
                    <label>Channel name</label>
                    <div>
                        <input class="form-control" type="text" disabled value="{{ template.channel_name }}">
                    </div>
                </div>
                <div class="form-group">
                    <label>Message text</label>
                    <div>
                        <textarea class="form-control" type="text" disabled>{{ template.message_text }}</textarea>
                    </div>
                </div>


                {% if perms.slack_integration.change_template %}
                    <a href="{% url 'template-update' template.pk %}?next={{ request.path }}">
                        <i class="fas fa-edit">Update template</i>
                    </a>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-4 offset-4 mt-4">
                <div id="app-list-block">
                    <ul class="list-group text-center">
                        {% if template.actions_block %}
                            <li class="list-group-item">
                                <a href="{% url 'actions-block-detail' template.actions_block.pk %}">Actions block</a>

                                {% if perms.slack_integration.delete_actionsblock %}
                                    <form action="{% url 'actions-block-delete' template.actions_block.pk %}?next={{ request.path }}"
                                          method="post"
                                          style="display: inline;"
                                          onsubmit="return confirm('Are you sure you want to delete actions block?')">
                                        {% csrf_token %}
                                        <button type="submit" style="border: none;">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </form>
                                {% endif %}

                            </li>
                        {% else %}
                            <p class="d-flex justify-content-center" style="color: red;">
                                There is no actions block yet..
                                {% if perms.slack_integration.add_actionsblock %}
                                    <a href="{% url 'actions-block-create' template.pk %}?next={{ request.path }}">Create?</a>
                                {% endif %}
                            </p>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

    </div>
{% endblock %}