{% extends 'base.html' %}

{% block title %}Slack App list{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-4 offset-4 mt-4">
            <div id="app-list-block">
                <h1 class="d-flex justify-content-center">"{{ app.name }}" application templates:</h1>
                <ul class="list-group text-center">
                    {% for template in app.templates.all %}
                    <li class="list-group-item">
                        <a href="#">{{ template.name }}</a>
                    </li>
                    {% empty %}
                    <p class="d-flex justify-content-center" style="color: red;">
                        There are no templates yet..
                    </p>
                    {% endfor %}

                    <button class="mt-4"
                            onclick="location.href='{% url 'template_create' app.pk %}?next={{ request.path }}'">
                        Create new template
                    </button>
            </div>
            </ul>
        </div>
    </div>
</div>
{% endblock %}