{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Add buttons{% endblock %}

{% block content %}
<div class="container-fluid">

    <div class="row">
        <div class="col-2 offset-5 mt-4">
            <form method="post">
                {% csrf_token %}
                <div class="attachment-form mb-4">
                    <p class="d-flex justify-content-center">Attachment</p>
                    {{ form|crispy }}
                </div>
                {{ formset.management_form }}
                {% for form in formset %}
                <div class="button-formset border border-dark rounded p-1 my-2">
                    <p class="d-flex justify-content-center">Button</p>
                    {{ form|crispy }}
                </div>
                {% endfor %}
                <button type="submit">Create</button>
            </form>
        </div>
    </div>

</div>

<script src="{% static 'formset/jquery.formset.js' %}"></script>
<script>

</script>

{% endblock %}