{% extends 'base.html' %}

{% block title %}Actions block create{% endblock %}

{% block content %}
<div class="container-fluid">

    <div class="row">
        <div class="col-4 offset-4 mt-4">
            <div class="form-group">
                <label>Template name</label>
                <div>
                    <input class="form-control" type="text" disabled value="{{ template.name }}">
                </div>
            </div>
            <div class="form-group">
                <label>Channel name</label>
                <div>
                    <input class="form-control" type="text" disabled value="{{ template.channel_name }}">
                </div>
            </div>
            <div class="form-group">
                <label>Message text</label>
                <div>
                    <textarea class="form-control" type="text" disabled>{{ template.message_text }}</textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4 offset-4 mt-4">
            <div id="app-list-block">
                <ul class="list-group text-center">
                    {% if template.actions_block %}
                        <li class="list-group-item">
                            <a href="">Actions block</a>
                        </li>
                    {% else %}
                        <p class="d-flex justify-content-center" style="color: red;">
                            There is no actions block yet..
                            <a href="{% url 'actions_block_create' template.pk %}?next={{ request.path }}">Create?</a>
                        </p>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

</div>
{% endblock %}